table,td,tr{
    font-size: 15px;
    color: black;
    border: 1px solid black;
    padding: 10px;
}

th{
    font-size: 18px;
    color: dodgerblue;
    border: 1px solid royalblue;
    padding: 15px;
}

td.left{
    text-align: right;
}

