a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #19e7ff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

h1{
    color:blanchedalmond;
    background-color: dodgerblue; font-size:100%;
}